.main {
    background-color: aqua;
    margin: 0 auto;
    padding: 2px 2px auto;
    width: max-content;
    overflow: hidden;
}
.row {
    height: max-content;
    margin: 0 2px auto;
    overflow: hidden;
}
#display1 {
    margin: 1px 0;
    text-align: right;
    font-size: 18px;
    width: 270px;
    color: blueviolet;
    height: 18px;
}
#dislay2{
    margin: 0 2px;
    background-color: darkorange;
    text-align: right;
    font-size: xx-large;
    width: 273px;
    height: 40px;
}
button {
    background-color: white;
    font-size: x-large;
    width: 70px;
    height: 70px;
    float: left;
}

button {
    background-color: turquoise;
}
button:active {
    background-color: yellow;

}